html{
       background-color: black;
}
body{
	background-image: url("image0.jpg");
	font-family: serif;
	margin: 50px;
	text-align: center;
}
h1{
        font-size: 1.35em;
}
ul{
        list-style-position: inside;
}
#about{
	font-weight: bold;
	border-style: solid;
}
