html{
       background-color: grey;
}
body{
	background-image: url("../images/background.jpeg");
	background-repeat: no-repeat;
	opacity: .1;
	font-family: serif;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-top: 38px;
	margin-bottom: -20px;
    line-height: 1.25em;

}
h1{
        font-size: 1.5em;
        padding-top: 20px;
}
.leftside{
        float: left;
	width: 200px;
}
.rightside{
        float: right;
	width: 200px;
}
#copyright{
        color: red;
	font-size: .75em;
}

nav ul li{
	text-decoration: none;
	display: inline-block;
	padding: 0 83.53px;
	margin: 0;
    list-style-type: none;
}

nav ul{
	background-color: grey;
	padding: 0px;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: left;
}
li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: yellow;
}
li a:hover {
	color: red;
}
.active {
	background-color: green;
}
footer {
	background-color: green;
	border-style: solid;
}
li a.before-game {
	color: white;
}
